@import "../../assets/styles/global.scss";

.order__text {
  font-size: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__element {
    border: none;
    margin: 0;
    padding: 0;
  }
}
