@import './styles/global.scss';

.app {
    display: flex;
    flex-wrap: wrap;
    &__menu{
      flex-basis: 60%;
    }
    &__bill{
      flex-basis: 40%;
      background-color: yellowgreen;
    }
}