@import "../../assets/styles/global.scss";

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
  }
  &__bold {
    font-weight: 500;
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
