@import "../../assets/styles/global.scss";

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
  }
  &__bold {
    font-weight: 500;
  }
  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $invisible-gray;
    height: 40px;
    width: 35%;
    margin: 0;
    .search__img {
      width: 22px;
      font-weight: 100;
      margin: 0 15px;
    }
    .search__bar {
      background-color: $white;
      width: 170px;
      height: 25px;
      border-radius: 10px;
      border: none;
      margin: 0;
      pointer-events: none;
    }
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
